.articulos {
  min-height: 600px;
  padding: 30px;

  .card {
    width: 80%;
    max-width: 800px;
    margin: 20px;
  }

  .card-header {
    font-weight: bold;
    text-align: center;
    color: black;
  }

  .deshabilitado{
    pointer-events: none;
    opacity: 0.5;
  }

  a li:hover {
    font-weight: bold;
  }
}
